/* MAIN */
/* PÁGINAS DE INICIO, MUJER, HOMBRE Y NIÑOS */
.pageSector {
    .sectorBanner {
        width: 95%;
        margin: 0.75rem auto;
    }

    .sectorGaleria {
        text-align: center;

        .precio {
            font-size: 0.9rem;
            font-weight: bold;
        }

        .descripcion {
            font-size: 0.8rem;
        }

        .botonComprar {
            font-size: 0.75rem;
            color: white;
            background-color: black;
            border-radius: 0;

            &:hover {
                background-color: white;
                color: black;
                transition: 0.5s;
            }
        }
    }
}

/* PÁGINA DE CONTACTO */
.pageContact {
    form {
        background-color: #D0D3D4;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 1.5rem;
            align-self: center;
            margin-top: 0.5rem;
            margin-bottom: 0;
        }

        input {
            @include formInput();
        }

        textarea {
            @include formInput();
            resize: none;
        }

        .error {
            border: 2px solid red;
        }

        .textoError {
            font-size: 0.80rem;
            color: red;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
        }

        .formButton {
            font-family: inherit;
            width: 10rem;
            font-size: 1rem;
            background-color: black;
            color: white;
            border: 1px solid black;
            border-radius: 10px;
            margin: 0 auto 0.5rem;
            padding: 0.25rem;

            &:hover {
                background-color: white;
                color: black;
                transition: 0.5s;
            }
        }
    }

    .map {
        height: 30rem;
        display: flex;
        flex-direction: column;
        background-color: #D0D3D4;
        text-align: center;
        margin-bottom: 2rem;

        iframe {
            order: 3;
            margin: 0 auto 0.25rem;
        }

        .mapText {
            margin: 0.5rem;

            p {
                margin: 0;
            }
        }
    }
}

/* CARRITO */
#carrito {
    min-height: 380px;
    width: 80%;
    margin: 0.75rem auto;
    background-color: #C8C8C8;
    border: 1px solid black;
    border-radius: 20px;

    .carritoVacio {
        text-align: center;
        margin: 180px 0;
    }

    .producto {
        display: grid;
        grid-template-columns: 28% 25% 25% 14% 8%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "img nombre precio cantidad eliminar";
        justify-items: center;
        align-items: center;

        .imgProductoCarrito {
            grid-area: img;
            width: 8rem;
            margin: 10px;
        }

        .nombreProductoCarrito {
            grid-area: nombre;
        }

        .precioProductoCarrito {
            grid-area: precio;
            margin: 5px;
        }

        .cantidadProductoCarrito {
            grid-area: cantidad;
        }

        .removeBtn {
            grid-area: eliminar;
            color: red;
            border: none;
            background-color: #C8C8C8;
        }
    }

    .finalizarCompra {
        display: grid;
        grid-template-columns: 53% 25% 22%;
        grid-template-rows: 60px;
        gap: 0px 0px;
        grid-template-areas: "total precioTotal btn";
        justify-items: center;
        align-items: center;
        margin: 15px 0;

        .totalCarrito {
            grid-area: total;
            justify-self: flex-end;
            font-size: 1.7em;
            margin: 0;
        }

        .precioTotalCarrito {
            grid-area: precioTotal;
            font-size: 1.3em;
        }

        .botonFinalizarCompra {
            grid-area: btn;
            font-size: .8em;
            // margin: auto;
            padding: .2em;
            color: white;
            background-color: black;
            border-radius: 0;

            &:hover {
                background-color: white;
                color: black;
                transition: 0.5s;
            }
        }
    }

    .hidden {
        display: none;
    }
}

/* SWEET ALERT */
#swal2-title.swal2-title {
    color: black;
}

#swal2-html-container.swal2-html-container {
    color: grey;
}

.swal2-styled.swal2-confirm {
    color: white;
    background-color: black;
}

/* BOTÓN CARRITO */
.botonCarrito {
    text-decoration: none;
    color: black;
    position: fixed;
    z-index: 2;
    right: 1em;
    bottom: 1em;
    background-color: white;
    border: solid 1px black;
    border-radius: 0.5em;
    padding: .4em;

    &:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    #cart {
        font-size: 2em;
        margin: .1em;
        cursor: pointer;
    }

    .cantidadCarrito {
        color: black;
        position: absolute;
        top: .1em;
        right: .2em;
        background-color: $background;
        padding: 0 .3em;
        border-radius: 15px;
        font-weight: bold;
    }
}

@media screen and (max-width: 576px) {
    /* MAIN */
    /* PÁGINAS DE INICIO, MUJER, HOMBRE Y NIÑOS */
    .sectorGaleria {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {
    /* MAIN */
    /* PÁGINAS DE INICIO, MUJER, HOMBRE Y NIÑOS */
    .sectorGaleria {
        width: 25%;
    }

    /* PÁGINA DE CONTACTO */
    .pageContact {
        form {
            width: 30rem;
            border: 1px solid black;
            border-radius: 0.75rem;
            box-shadow: 0.25rem 0.20rem 0.5rem;

            h2 {
                font-size: 2rem;
            }

            input,
            textarea {
                font-size: 1.5rem;
            }

            .formButton {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    /* PÁGINA DE CONTACTO */
    .pageContact {
        .map {
            flex-direction: row;
            margin-left: 2rem;
            margin-right: 2rem;
            height: 25rem;
            border-radius: 0.5rem;

            iframe {
                align-self: center;
                order: -1;
                margin: 0 0.75rem;
                height: 90%;
                border-radius: 0.5rem;
            }

            .mapText {
                align-self: center;
                width: 70%;
            }
        }
    }
}